/* all linked up */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap');

:root {
    --primary-color: #595c80;
    --secondary-color: #fcc351;
    
    --primary-font: 'Audiowide', cursive;
    --secondary-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--primary-color);
}

h1 {
    text-align: center;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: 50px;
}

canvas {
    background-image: url('https://www.wurmpedia.com/images/d/d9/Floor_board.png');
    background-color: tan;
    height: 500px;
    width: 625px;
    border: 5px solid var(--secondary-color);
}

.header {
    font-size: 70px;
    margin: 60px;
}

p {
    font-size: 26px;
    margin: 35px;
}

button {
    height: 90px;
    width: 340px;
    font-family: var(--primary-font);
    color: black;
    font-size: 40px;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

button:hover {
    background-color: #36374d;
    color: var(--secondary-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightgray;
    font-family: var(--secondary-font);
    font-size: 25px;
}

.home-container {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 700px;
    height: 800px;
    background-color: grey;
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    border: 5px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.winning-container {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 700px;
    height: 800px;
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    border: 5px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: none;
}

.time-out-container {
    display: none;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 700px;
    height: 800px;
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    border: 5px solid var(--secondary-color);
    text-align: center;
}

.losing-container {
    display: none;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 700px;
    height: 800px;
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    border: 5px solid var(--secondary-color);
    text-align: center;
}

.score-container {
    width: 625px;
    border: 3px solid var(--secondary-color);
    margin-top: 15px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px
}

@media (max-height: 800px) {
    .home-container{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -41%);
        height: 740px;
    }    

    .winning-container{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -41%);
        height: 740px;    }  

    .losing-container{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -41%);
        height: 740px;    }  

    .time-out-container{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -41%);
        height: 740px;    }  
}